.process-step{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-top: 32px;
        padding: 40px;
        padding-bottom: 0;
        @include lg{
            padding: 12px;
        }
        @include md{
            padding: 12px;
        }
        @include sm{
            margin-top: 12px;
            padding: 24px;
            padding-bottom: 0;
            gap: 12px;
        }
        &:hover{
            .icon-wrapper{
                .icon{
                    h3{
                        color: $white;
                    }
                    &:after{
                        visibility: visible;
                        transform: scale(1);
                        @include transition;
                    }
                }
            }
        }
        .arrow{
            position: absolute;
            right: -25%;
            top: 44px;
            @include rmaxwd(991){
                display: none;
            }
            @include lg{
                right: -32%;
            }
        }
        .icon-wrapper{
            position: relative;
            .icon{
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #BBB8FF;
                border-radius: 50%;
                position: relative;
                z-index: 3;
                &:after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $secondary-color;
                    position: absolute;
                    visibility: hidden;
                    border-radius: 50%;
                    transform: scale(0);
                }
                h3{
                    margin-bottom: 0;
                    z-index: 3;
                    position: relative;
                }
                &.second{
                    background-color: #FFCEC2;
                }
                &.third{
                    background-color: #FFE597;
                }
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            text-align: center;
            .desc{
                font-size: 18px;
                line-height: 32px;
                color: $black-2;
                margin-bottom: 0;
                @include sm{
                    font-size: 16px;
                }
            }
            .title{
                font-family: $heading-font;
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                color: $black;
                margin-bottom: 0;
                a{
                    margin-bottom: 0;
                }
            }
        }
        &.style-2{
            .arrow{
                top: 84px;
                @include lg{
                    top: 60px;
                }
            }
        }
}
.inner-wrapper{
    position: relative;
    @keyframes move_wave {
        0% {
            transform: translateX(0) translateZ(0) scaleY(1)
        }
        50% {
            transform: translateX(-25%) translateZ(0) scaleY(1)
        }
        100% {
            transform: translateX(-50%) translateZ(0) scaleY(1)
        }
    }
    .shape-one{
        position: absolute;
        top: -16px;
        left: 0;
        animation: bounce 5s linear infinite;
        @include rmaxwd(991){
            display: none;
        }
    }
    .shape-two{
        position: absolute;
        top: 74px;
        right: 0;
        animation: rubberBand 5s linear infinite;
        @include rmaxwd(991){
            display: none;
        }
    }

}
.process-step-wrapper{
    .elementor-container{
        .elementor-column{
            &:nth-child(2){
                .process-step{
                    .arrow{
                        top: 84px;
                        @include lg{
                            top: 60px;
                        }
                    }
                }
            }
        }
    }
}