// Service-area style-1
.service-area{
  // padding: 120px 0;
  //   @include sm{
  //     padding:  72px 0;
  //   }
  //   @include md{
  //     padding: 100px 0;
  //   }
  //   @media only screen and (min-width: 992px) and (max-width: 1900px){
  //     padding-top: 120px;
  //     padding-bottom: 120px;
  //   }
    .icon-card-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 40px;
      @include sm{
        margin-top: 24px;
        grid-template-columns: repeat(1, 1fr);
      }
      @include rmaxwd(1900){
        margin-top: 32px;
      }
    }
    .icon-card{
      &.style-2{
        .icon{
          &:before{
            width: 50px;
            height: 50px;
            border-radius: 84% 16% 34% 66% / 63% 29% 71% 37% ;
            background-color: #FEE1E6;
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: unset;
        }
        }
        &:nth-child(2){
          .icon{
            &:before{
              background-color: #FFF2D0;
            }
          }
        }
        &:nth-child(3){
          .icon{
            &:before{
              background-color: #D9E8FF;
            }
          }
        }
        &:nth-child(4){
          .icon{
            &:before{
              background-color: #F8DDFF;
            }
          }
        }
        &:nth-child(5){
          .icon{
            &:before{
              background-color: #D0FFEC;
            }
          }
        }
        &:nth-child(6){
          .icon{
            &:before{
              background-color: #FFE8DF;
            }
          }
        }
      }
    }
  }