// Service-area style-1
.service-area{
  // padding: 120px 0;
  //   @include sm{
  //     padding:  72px 0;
  //   }
  //   @include md{
  //     padding: 100px 0;
  //   }
  //   @media only screen and (min-width: 992px) and (max-width: 1900px){
  //     padding-top: 120px;
  //     padding-bottom: 120px;
  //   }
    .icon-card-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 40px;
      @include sm{
        margin-top: 24px;
        grid-template-columns: repeat(1, 1fr);
      }
      @include rmaxwd(1900){
        margin-top: 32px;
      }
      .icon-card{
        &.style-2{
          @include rmaxwd(991){
            // margin-top: 24px;
          }
        }
      }
    }
  }