.footer {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: #5F54D3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .mt-50.mb-50 {
    @include rmaxwd(1199) {
      margin: 0;
    }
  }
  .footer-sec {
    // padding-top: 120px;
    position: relative;
    .shape-one{
      position: absolute;
      top: 0;
      left: 0;
      animation: MoveTopRight 4s infinite;
      width: 233px;
      height: 577px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include sm{
        display: none;
      }
    }
    .shape-two{
      position: absolute;
      top:  0;
      right: 0;
      width: 286px;
      height: 238px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include sm{
        display: none;
      }
    }

    @include rmaxwd(767) {
      // padding-top: 80px;
    }
    .footer-bottom-border{
      height: 1px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.30);
    }
  }

}
.footer-widget-title {
  font-family: $dm-sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.8px;
  color: $white;
  margin-bottom: 16px;
  @include sm{
    font-size: 30px;
    letter-spacing: unset;
  }
  @include lg{
    font-size: 34px;
  }
}
.footer-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 0;
  @include rmaxwd(991){
    flex-direction: column;
    text-align: center;
  }
}
.footer-widget {
  margin-bottom: 0;
  position: relative;
  z-index: 10;
  .desc{
    color: $white;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 0;
  }
  .widget_latest_post ul li{
    padding: 12px 0;
    flex-direction: row;
    &:first-child{
      padding-top: 0;
    }
  }
  @include rmaxwd(991) {
    margin-bottom: 50px;
  }
  &:last-child{
    @include rmaxwd(991){
      margin-bottom: 0;
    }
  }
  ul {
    padding-left: 0;
  }
  // Footer Latest Post
  &.widget_boomdevs-latest-posts-footer {
    margin-top: -5px;
  }
  // Footer Instagram
  &.zoom-instagram-widget {
    @include rmaxwd(767) {
      margin-bottom: 0;
      margin-top: -10px;
    }
  }
  // Footer About Info
  &.widget_boomdevs_contact_info_widget {
    @include rmaxwd(767) {
      margin-bottom: 18px;
    }
  }

  .widget-instagram-feed {
    @media only screen and (min-width: 992px) and (max-width: 1399px) {
      width: 170px;
    }
  }
  // Footer Info Widget
  .footer-widget-info {
    padding-right: 30px;

    @include rmaxwd(1199) {
      padding-right: 0;
    }
    p {
      color: $white;
      margin-bottom: 0;
    }
    .footer-logo {
      margin-bottom: 16px;
      display: inline-block;
    }
    .info-form-and-social-icon {
      display: flex;
      align-items: center;
      gap: 50px;

      .subscribe-form-widget {
        border-radius: 6px;
        .single-field {
          input {
            height: 60px;
          }
        }
      }
      .social-profile {
        margin-top: 0;
      }
    }
    .social-profile {
      gap: 20px;
      margin-top: 30px;
    }
    @include sm {
      .info-form-and-social-icon {
        flex-direction: column;
        align-items: start;
        gap: 30px;
      }
    }
  }

  // Footer Menu Widget
  &.widget_nav_menu {
    ul {
      margin-top: -5px;
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;

      &:last-child {
        padding-top: 0;
        padding-bottom: 0;
      }

      a {
        color: $white-100;
        text-transform: capitalize;
        font-size: 18px;
        @include transition;
        position: relative;

        &:hover {
          @include transition;
          color: $primary-color;
        }
      }
    }
    &.widget_nav_menu{
      display: flex;
      flex-direction: column;
      gap: 8px;
      .footer-widget-title{
        margin-bottom: 0;
      }
    }
  }

  // Footer Contact Widget
  .footer-widget-contact {
    p {
      color: $white-100;
    }
    .footer-contact ul {
      list-style: none;

      li {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        line-height: 24px;
        gap: 20px;

        &:first-child {
          align-items: flex-start;
          .contact-icon {
            margin-top: 5px;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        .contact-icon {
          color: $white;
          border-radius: 50px;
          float: left;
          display: flex;
          align-items: center;
          flex-shrink: 0;
        }
        .contact-text {
          color: $white-100;
          font-size: 18px;
          line-height: 24px;
          overflow: hidden;

          a {
            &:hover {
              span {
                color: $primary-color;
                @include transition;
              }
            }
          }
          span,
          p,
          a {
            color: $white-100;
            font-size: 18px;
            line-height: 24px;
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
            @include transition;
          }
        }
      }
    }
  }

  // Footer Latest News
  .widget_latest_post {
    ul {
      li {
        .latest-post-thumb {
          width: 70px;
          height: 70px;
        }
        .latest-post-desc {
          .latest-post-title {
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 22px;
            color: $white;
            font-weight: 700;

            a {
              font-size: 16px;
              line-height: 22px;
              color: $white-100;
              position: relative;
              text-transform: capitalize;
              font-weight: 500;
              @include transition;

              &:hover {
                color: $primary-color;
                @include transition;
              }
            }
          }
          .latest-post-meta {
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            font-weight: 400;
            gap: 8px;
            color: $white-100;
          }
        }
      }
    }
  }
}

// Footer Bottom Section
.footer-bottom-menu {
  ul {
    list-style: none;
    display: flex;
    gap: 0 40px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
    padding-left: 0;
    flex-wrap: wrap;
    
    // @include(991)  {
    //   justify-content: flex-start;
    // }
    @include sm{
      gap: 0 20px;
      justify-content: center;
    }
    @include md{
      gap: 0 20px;
      justify-content: center;
    }
    @include lg{
      gap: 0 16px;
    }

    li {
      a {
        font-size: 16px;
        color: $white;
        font-weight: 400;
        line-height: 27px;
        @include transition;

        &:hover {
          @include transition;
          color: $black;
        }
      }
    }
  }
}

.footer-bottom-area {
  padding: 24px 0;
  position: relative;
  z-index: 10;

  @include rmaxwd(991) {
    padding: 30px 0;
  }
  .copyright-text {
    @include sm {
      margin-bottom: 20px;
      text-align: center;
    }
    @include md{
      text-align: center;
    }
    p {
      color: $white;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px; 

      a {
        color: $white;
        font-weight: 500;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .credit-text {
    p {
      color: $white-100;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
    a {
      color: $primary-color;
    }
  }
}

// Footer Subscribe
.subscribe-form-area {
  position: relative;
  z-index: 99;
}
.subscribe-area {
  padding: 72px 0;
  z-index: 2;
  position: relative;

  @include md {
    padding: 40px;
    padding-bottom: 72px;
    padding-top: 60px;
  }
  @include sm {
    padding: 60px 20px;
  }
  .shape{
    position: absolute;
    top: 0;
    left: 0;
    @include lg{
      display: none;
    }
    @include xl{
      display: none;
    }
  }
  .subscribe-inner-area{
    .section-title{
      .title{
        @include sm{
          font-size: 31px;
        }
      }
    }

  }
  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    @include rmaxwd(1199){
      flex-direction: column;
      gap: 30px;
      align-items: center;
      text-align: center;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1399px){
      gap: 40px;
    }

    .short-title {
      font-size: 21px;
      font-weight: 700;
      color: $white;
      margin-bottom: 0;
    }
    .subscribe-title{
      color: $white;
      @media only screen and (min-width: 1200px) and (max-width: 1399px){
       font-size: 47px;
      }
      br{
        @include sm{
          display: none;
        }
        @include xl{
          display: none;
        }
      }
    }
  }
  &.style-2{
    padding: 32px;
    background-color: $white;
    margin-left: 34px;
    align-items: unset;
    @include rmaxwd(991){
      margin-left: 0;
    }
    .subscribe-inner-area{
      gap: 32px;
      align-items: unset;
    }
    .section-title{
      gap: 8px;
      .title{
        font-size: 24px;
        font-weight: 500;
        line-height: 33.6px;
        margin-bottom: 0;
        @include sm{
          
        }
      }
      .desc{
        font-size: 16px;
        font-weight: 400;
        line-height: 27.2px; 
        margin-top: 0;
      }
    }
    .mc4wp-form-fields{
      flex-direction: column;
      box-shadow: unset;
      border-radius: unset;
      text-align: center;
      gap: 12px;
      .single-field{
        input{
          border-radius: 50px;
          border: 1px solid $black-3;
          background: #F6F9FF;
          padding: 18px 24px;
          height: auto;
          line-height: 27px;
        }
      }
      .submit-btn{
        background-color: $primary-color;
        color: $black;
        padding: 16px 40px;
        justify-content: center;
        margin: 0;
      }
    }
  }
}
.subscribe-form-wrapper{
  flex-shrink: 0;
}
.subscribe-form-widget {
  position: relative;

  .mc4wp-form-fields {
    display: flex;
    background-color: $white;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 12px 12px 50px 0px rgba(175, 186, 221, 0.20);
    @include sm{
      background-color: transparent;
      flex-direction: column;
      border-radius: 0;
      box-shadow: none;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1399px){
      // flex-direction: column;
      // border-radius: 24px;
    }
  }

  .single-field {
    flex-grow: 1;

    input {
      color: $black-300;
      height: 78px;
      padding: 0 40px;
      font-size: 18px;
      font-weight: 400;
      border-radius: 50px;
      width: 100%;
      @include sm{
        height: 62px;
        border-radius: 50px;
      }
    }
    *::-webkit-input-placeholder {
      color: $black-2;
    }
    *:-moz-placeholder {
      color: $black-2;
      opacity: 1;
    }
    *::-moz-placeholder {
      color: $black-2;
      opacity: 1;
    }
    *:-ms-input-placeholder {
      color: $black-2;
    }
    *::-ms-input-placeholder {
      color: $black-2;
    }
    *::placeholder {
      color: $black-2;
    }
  }
  .submit-btn {
    background-color: $black;
    color: $white;
    cursor: pointer;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    border-radius: 50px;
    margin: 8px;
    &:hover{
      background-color: $primary-color;
    }
    
  @include sm {
    font-size: 16px;
    text-align: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
  }
  @include lg{
    padding: 6px 20px;
  }
  }
  // Form Submit Message
  .mc4wp-response {
    position: relative;
    top: 15px;
    .mc4wp-alert {
      &.mc4wp-error,
      &.mc4wp-success,
      &.mc4wp-notice
      {
        p {
          color: #fff;
          position: relative;
        }
      }
    }
  }
}

// Social Widget
.social-profile {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    color: $white-100;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid $white-100;
    @include transition;

    &:hover {
      @include transition;
      color: $black;
      background-color: $primary-color;
      border-color: transparent;
    }
  }
}

// Map Widget
.map-wodget {
  iframe {
    width: 100%;
    height: 320px;
    border-radius: 12px;
  }
}
