* {
  margin: 0;
  border: 0;
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  font-family: $body-font;
  color: $black;
  vertical-align: baseline;
  line-height: 30px;
  font-smoothing: antialiased;
}
p {
  margin: 0 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $heading-font;
  color: $black;
  font-style: normal;
  @include transition;
}

h1 {
  font-size: 68px;
  line-height:  75px;
  font-weight: 700;
  @include sm{
    font-size: 40px;
    line-height: 48px;
  }
  @include md{
    font-size: 50px;
  line-height: 60px;
  }
  @include lg{
    font-size: 46px;
    line-height: 60px;
  }
}
h2 {
  font-size: 54px;
  line-height: 65px
  ;
  font-weight: 700;
  @include sm{
    font-size: 38px;
    line-height: 50px;
  }
}
h3 {
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}
h5 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}
h6 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}
label {
  color: $text-color;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
button {
  cursor: pointer;
  @include transition;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a,
.button {
  text-decoration: none;
  @include transition;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  color: $black;
  text-decoration: none;
  @include transition;
}
a,
button {
  color: $primary-color;
  outline: medium none;
  @include transition;

  &:hover {
    color: $black;
    @include transition;
  }
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: $primary-color;
  text-shadow: none;
  color: #fff;
}
::selection {
  background: $primary-color;
  text-shadow: none;
  color: #fff;
}
textarea:focus,
input:focus {
  outline: none;
}

.background-black {
  background-color: rgb(57, 61, 72);
}

.bg-light-black {
  background-color: rgb(49, 55, 63);
}
.background-blue {
  background-color: $blue-color;
}
.bg-dark-blue {
  background-color: rgb(14, 49, 81);
}
.background-light-blue {
  background-color: $primary-color;
}
.background-skye {
  background-color: $sky-color;
}
.background-gray {
  background-color: $gray-50;
}
.background-light-gray {
  background-color: #f3f7fc;
}
.page-bg {
  background-color: $black;
}

.page-area {
  padding-top: 112px;
  padding-bottom: 100px;
}
.blog-area {
  padding-top: 120px;
  padding-bottom: 120px;
}
.page-area,
.blog-area {

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 52px;
  }
  @include rmaxwd(767) {
    padding-top: 70px;
    padding-bottom: 22px;
  }
  .page-links {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.border-radius-12 {
  border-radius: 12px;
}
.text-white-100 {
  color: $white-100;
}
code {
  color: $orange-color;
}
.theme-btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    .theme-btn{
      
    }
  }
}
.theme-btn,
.wp-block-loginout a,
input.theme-btn {
  display: inline-flex;
  color: $white;
  padding: 16px 40px;
  background-color: $secondary-color;
  text-align: center;
  font-family: $body-font;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  position: relative;
  z-index: 1;
  gap: 8px;
  border-radius: 50px;
  overflow: hidden;

  i {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
  }
  &:hover {
    color: $white;
    background-color: $black;
    // animation: lightSpeedInLeft;
    // animation-duration: 2s;
  }
  &:focus {
    color: $primary-color;
  }

  &.simple-btn {
    padding-left: 36px;
    padding-right: 36px;
  }
  &.style-2{
    border: 2px solid $black;
    background-color: transparent;
    &:hover{
      background-color: $black;
      color: $white;
    }
  }
}

.wp-block-loginout {
  a {
    position: relative;

    &:after {
      display: flex;
      align-items: center;
      justify-content: center;
      content: "\f105";
      font-family: $font-awesome;
      width: auto;
      height: auto;
      border-radius: 6px;
      background-color: transparent;
      color: #fff;
      font-size: 16px;
    }
  }
}
.contact-form-btn {
  justify-content: center;
  width: 100%;
  display: block;
  line-height: 42px;

  .icon {
    float: right;
  }

}
input.theme-btn {
  display: inline-block !important;
  width: inherit !important;
  border: 0 !important;
}