// About-us-area style-1
.elementor-section{
    &.about-us-area {
        &.style-1,
        &.style-2,
        &.style-3 {
            padding-top: 100px !important;
            @include lg{
                padding-bottom: 100px;
              }
              @include md{
                padding-bottom: 80px;
              }
              @include sm{
                padding-bottom: 60px;
              }
          // Theme-responsive
          >.elementor-container{
            @include xl{
              padding: 0 55px;
            }
            @include lg{
              padding: 0 55px;
            }
            @include md{
              padding: 0 36px;
            }
            @include sm{
              padding: 0 12px;
            }
            .elementor-col-50{
              &:first-child{
                @include md{
                  width: 100%;
                }
              }
              &:last-child{
                @include md{
                  width: 100%;
                }
                .section-title{
                  @include md{
                    width: 80%;
                    margin:  0 auto;
                  }
                }
              }
            }
          }
        }
      }
}
// About-us-area style-2
.elementor-section{
    &.about-us-area{
        &.style-2,
        &.style-3{
          @include sm{
            padding: 60px 0 !important;
          }
          @include md{
              padding: 80px 0 !important;
          }
          @include lg{
              padding: 100px 0 !important;
          }
            .about-info-card{
                @include xl{
                    padding-left: 0;
                }
                @include lg{
                  margin-top: 40px;
                }
            }
            .about-image-card{
              .feather{
                @include rmaxwd(1199){
                  display: none;
                }
              }
            }
            .elementor-col-50{
              &:first-child{
                @include lg{
                  width: 80%;
                }
              }
              &:last-child{
                @include lg{
                  width: 80%;
                }
              }
            }
        }
    }
}

// Feature-area
.elementor-section{
  &.feature-area{
    &.style-1{
      @include sm{
        padding-bottom: 60px !important;
      }
      @include md{
        padding-bottom: 80px !important;
      }
      @include lg{
        padding-bottom: 100px !important;
      }
      .elementor-container{
        .section-title{
          @include sm{
            padding: 0 12px;
          }
          .title{
            br{
              @include lg{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

// Feature-area Style-2
.elementor-section{
  &.feature-area{
    &.style-2{
      @include sm{
        padding: 60px 0 !important;
      }
      @include md{
          padding: 80px 0 !important;
      }
      @include lg{
          padding: 100px 0 !important;
      }
      .elementor-container{
        .section-title{
          @include sm{
            padding: 0 12px;
          }
          .title{
            br{
              @include lg{
                display: block;
              }
            }
          }
          .desc{
            br{
              @include lg{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

// Latest-post-area
.elementor-section{
    &.latest-post-area{
        &.style-1{
            @include sm{
                padding: 60px 0 !important;
            }
            @include md{
                padding: 80px 0 !important;
            }
            @include lg{
                padding: 100px 0 !important;
            }
          >.elementor-container{
            @include lg{
                padding: 0 80px;
            }
            .section-title-wrapper{
              @include xl{
                padding: 0 40px;
              }
              @include sm{
                padding: 0 12px;
              }
              .section-title{
                width: 100%;
              }
              .elementor-col-50{
                &:first-child{
                  @include lg{
                    width: 60%;
                  }
                }
                &:last-child{
                  @include lg{
                    width: 40%;
                  }
                }
                @include md{
                  width: 60%;
                  margin: 0 auto;
                }
              }
              .btn-wrapper{
                @include rmaxwd(991){
                  text-align: center;
                }
              }
            }
          }
        }
    }
}

// service-area
.elementor-section{
    &.service-area {
        overflow: hidden;
        @include sm{
            padding: 60px 0 !important;
        }
        @include md{
            padding: 80px 0 !important;
        }
        @include lg{
            padding: 100px 0 !important;
        }
        .elementor-container{
          .section-title-wrap{
            .btn-wrapper{
              @include sm{
                text-align: center;
              }
            }
          }
        }
    }
}
// Service-area style-2
.elementor-section{
    &.service-area {
      &.style-2{
        .elementor-container{
          .section-title{
            margin: 0 auto;
            br{
              @include lg{
                display: block;
              }
            }
            @include sm{
              padding: 0 12px;
            }
          }
        }
      }
    }
}

// Team-area Style-1
.elementor-section{
    &.team-area{
        &.style-1,
        &.style-3{
            @include sm{
                padding: 60px 0 !important;
            }
            @include md{
                padding: 80px 0 !important;
            }
            @include lg{
                padding: 100px 0 !important;
            }
          position: relative;
            .team-member-wrapper{
              .elementor-container{
                .elementor-column{
                  .elementor-widget-wrap{
                    padding: 0 16px !important;
                  }
                }
              }
            }
            .elementor-container{
              .shape-two{
                width: auto !important;
                right: 4%;
                top: 62px;
                @include rmaxwd(1199){
                  display: none;
              }
              @include xl{
                right: 7%;
              }
              }
              .shape-one{
                width: auto !important;
                left: -7%;
                top: 100px;
                @include xl{
                  left: 5%;
                }
              }
              .section-title{
                @include lg{
                  padding: 0 40px;
                  width: 80%;
                  margin: 0 auto;
                }
                @include md{
                  padding: 0 36px;
                  width: 80%;
                  margin: 0 auto;
                }
                @include sm{
                  padding: 0 12px;
                }
              }
            }
        }
      }
}
// Pricing-area 
.elementor-section{
    &.pricing-area{
        &.style-1{
            @include sm{
                padding: 60px 0 !important;
            }
            @include md{
                padding: 80px 0 !important;
            }
            @include lg{
                padding: 100px 0 !important;
            }
          .elementor-container{
            .shape{
              top: 2%;
              left: -17%;
              width: auto !important;    
            }
          }
        }
      }
}
// latest-project-area
.elementor-section{
    &.latest-project-area{
        &.style-1,
        &.style-2{
            @include sm{
                padding: 60px 0 !important;
            }
            @include md{
                padding: 80px 0 !important;
            }
            @include lg{
                padding: 100px 0 !important;
            }
          .elementor-container{
            @include md{
              text-align: center;
            }
            .section-title-wrapper {
              @include sm{
                margin-bottom: 0;
              }
              @include lg{
                padding: 0 40px;
              }
              .section-title {
                @include lg{
                  width: 100%;
                }
              }
              .elementor-col-50{
                  @include md{
                    width: 60%;
                    margin: 0 auto;
                  }
                .btn-wrapper{
                  @include rmaxwd(991){
                    text-align: center;
                  }
                }
              }
          }
          }
        }
      }
}

// Why-choose-area 
.elementor-section{
    &.why-choose-area{
        &.style-1,
        &.style-2{
          >.elementor-container{
            @include sm{
              padding: 0 12px;
            }
            .about-image-card{
                .feather{
                    @include rmaxwd(1399){
                        display: none;
                    }
                }
            }
            .elementor-col-50{
              &:first-child{
                @include md{
                  width: 100%;
                }
              }
              &:last-child{
                @include md{
                  width: 70%;
                  margin: 0 auto !important;
                }
              }
            }
          }
        }
      }
}

 // Why-choose-area Style-2
 .elementor-section{
     &.why-choose-area{
      overflow: hidden;
         &.style-2,
         &.style-3{
             @include sm{
                 padding: 60px 0 !important;
             }
             @include md{
                 padding: 80px 0 !important;
             }
             @include lg{
                 padding: 100px 0 !important;
             }
           >.elementor-container{
             @include xl{
               padding: 0 80px;
             }
             @include lg{
               padding: 0 40px;
             }
             @include md{
               padding: 0 36px;
             }
             @include sm{
               padding: 0 12px;
             }
             .shape{
              @include xl{
                left: -7%;
              }
              @include lg{
                left: -7%;
              }
             }
             .list-item-wrapper{
              @include sm{
                text-align: start;
              }
              ul{
                li{
                  @include md{
                    justify-content: center;
                  }

                }
              }
             }
             .btn-wrapper{
              @include md{
                text-align: center;
              }
             }
             .about-image-card{
              @include sm{
                margin-top: 24px;
              }
              @include md{
                margin-top: 48px;
              }
                 .feather{
                     @include rmaxwd(1399){
                         display: none;
                     }
                 }
             }
             .elementor-col-50{
               &:first-child{
                 @include md{
                   width: 100%;
                 }
               }
               &:last-child{
                 @include md{
                   width: 70%;
                   margin: 0 auto !important;
                 }
               }
             }
           }
         }
         &.style-3{

         }
       }
 }

//  Hero area
.elementor-section{
    &.hero-area{
        &.style-2{
          @include sm{
            padding-bottom: 60px !important;
          }
          @include md{
            padding-bottom: 80px !important;
          }
          @include lg{
            padding-bottom: 100px !important;
          }
          .section-title{
            .desc{
              br{
                @include lg{
                  display: block;
                }
              }
            }
          }
          .video-popup-wrapper{
            @include lg{
              padding: 0 24px;
            }
          }
           .video-popup-card{
            @include xl{
              padding: 0 80px;
            }
            @include lg{
              padding: 0 40px;
            }
            @include md{
              padding: 0 36px;
            }
            @include sm{
              padding: 0 12px;
            }
            .shape{
                @include rmaxwd(1399){
                    display: none;
                }
            }
           } 
        }
    }
}
//  Faq area
.elementor-section{
    &.faq-area{
        &.style-2,
        &.style-3{
          @include sm{
            padding: 60px 0 !important;
          }
          @include md{
              padding: 80px 0 !important;
          }
          @include lg{
              padding: 100px 0 !important;
          }
          >.elementor-container{
            @include xl{
              padding: 0 80px;
            }
            @include lg{
              padding: 0 40px;
            }
            @include md{
              padding: 0 36px;
            }
            @include sm{
              padding: 0 12px;
            }
            .elementor-col-50{
              @include md{
                width: 100%;
              }
              .section-title{
                @include md{
                  margin-bottom: 0;
                }
              }
              .btn-wrapper{
                @include rmaxwd(991){
                  text-align: center;
                }
              }
              .accordion{
                @include rmaxwd(991){
                  margin-top: 32px;
                }
              }
            }
          }
        }
        &.style-3{
          .section-title{
            @include sm{
              margin-bottom: 0;
            }
          }
        }
    }
}

// Achieve area style-2
.achieve-area{
  &.style-2{
    .elementor-container{
      .achieve-item-wrapper{
        @include md{
          margin: 0;
        }
      }
      .content{
        &.style-3{
          padding-left: 24px;
          @include md{
            padding: 78px 40px 0 40px;
            border-color: transparent;
            border-top: 1px solid $border;
            margin-top: 32px;
          }
        }
      }
    }
  }
}

// Testimonial-area style-1
.elementor-section{
  &.testimonial-area{
    &.style-1{
      .section-title{
        @include xl{
          padding: 0 80px;
        }
        @include lg{
          padding: 0 40px;
        }
        @include md{
          padding: 0 36px;
        }
        @include sm{
          padding: 0 12px;
        }
      }
    }
  }
}

// project-card-wrapper project-details
.elementor-section{
  &.project-card-wrapper{
    @include sm{
      padding: 60px 0 !important;
    }
    @include md{
        padding: 80px 0 !important;
    }
    @include lg{
        padding: 100px 0 !important;
    }
  }
}
// contact-info-area Contact-page
.elementor-section{
  &.contact-info-area,
  &.contact-form-area{
    @include sm{
      padding: 60px 0 !important;
    }
    @include md{
        padding: 80px 0 !important;
    }
    @include lg{
        padding: 100px 0 !important;
    }
    >.elementor-container{
      @include xl{
        padding: 0 80px;
      }
      @include lg{
        padding: 0 40px;
      }
      @include md{
        padding: 0 36px;
      }
      @include sm{
        padding: 0 12px;
      }
    }
  }
}