// About Us Area
.about-us-area{
    &.style-2{
        .about-info-card{
          .section-title{
            @include lg{
              gap: 8px;
            }
            .title{
              @include lg{
                font-size: 40px;
                line-height: 54px;
              }
            }
            .desc{
              @include lg{
                font-size: 16px;
              }
            }
          }
          .icon-card-wrapper{
            @include lg{
              margin-top: 18px;
            }
          }
          @include rmaxwd(991){
            margin-top: 32px;
          }
            .icon-card{
              .icon{
                border-color: transparent;
              }
              .content{
                @include lg{
                  font-size: 16px;
                  line-height: 28px;
                }
              }
            }
          }
          .about-image-card{
            position: relative;
            // margin-right: 116px;
            .shape{
                position: absolute;
                bottom: -57px;
                left: -107px;
                z-index: 10;
                box-shadow: 12px 12px 50px 0px rgba(175, 186, 221, 0.20);
                animation: MoveLeftRight 2s linear infinite alternate;
                @include rmaxwd(991){
                  display: none;
                }
                @include lg{
                  display: none;
                }
                @media only screen and (min-width: 1200px) and (max-width: 1599px){
                  left: -40px;
                }
            }
            .main-img{
                border-radius: 24px;
                overflow: hidden;
                img{
                  border-radius: 24px;
                  @include md{
                    width: 100%;
                  }
                }
            }
          }
    }
    &.style-3{
      .about-image-card{
        position: relative;
        .shape{
            position: absolute;
            bottom: 25px;
            left: 25px;
            z-index: 10;
            @include rmaxwd(991){
              display: none;
            }
            @include lg{
              display: none;
            }
        }
        .main-img{
            border-radius: 24px;
            overflow: hidden;
            @include md{
              text-align: center;
            }
            img{
              border-radius: 24px;
              @include md{
                // width: 100%;
              }
            }
        }
      }
      .about-info-card{
        @include md{
          margin-top: 32px;
        }
        .section-title{
          .title{
            br{
              @include lg{
                display: none;
              }
              @include xl{
                display: none;
              }
            }
          }
          .desc{
            br{
              @include lg{
                display: none;
              }
              @include xl{
                display: none;
              }
              @include lg{
                display: none;
              }
            }
          }
        }
      }
    }
}