.list-item-wrapper {
    // UL List
    ul {
        padding-left: 0;

        li {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0 8px;
            padding-top: 8px;
            color: $black;
            @include sm{
                align-items: start;
            }
            &:last-child {
                padding-bottom: 0;
            }
            &:before{
                content: "\f00c";
                font-family: $font-awesome;
                color: $white;
                width: 18px;
                height: 18px;
                flex-shrink: 0;
                border-radius: 50px;
                background: $primary-color;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                line-height: 28px;
                @include sm{
                    margin-top: 12px;
                }
            }
        }
    }
    &.style-2{
        ul{
            li{
                font-family: $body-font;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                &:before{
                    background-color: $black;
                    border: 1px solid $black;
                }
            }
        }
    }
    &.style-3{
        ul{
            li{
                &:before{
                    content: "\f111";
                    color: transparent;
                    background-color: $black;
                    width: 6px;
                    height: 6px;

                }
            }
        }
    }
}
