.why-choose-area{
    &.style-1{
        .about-image-card{
            .visitor{
                @include sm{
                    // transform: translate(-18%, 21%);
                    display: none;
                }
                @include md{
                    // transform: translate(-18%, 21%);
                    display: none;
                }
                @media only screen and (min-width: 992px) and (max-width: 1700px){
                    // transform: translate(-17%, 20%);
                    display: none;
                }
            }
            .status{
                @include sm{
                    // right: 32%;
                    // top: 50%;
                    // transform: translate(63%, -50%);
                    display: none;
                }
                @include md{
                    display: none;
                    // right: 32%;
                    // top: 50%;
                    // transform: translate(63%, -50%);
                }
            }
        }
    }
    &.style-2{
        .shape{
            position: absolute;
            top: -50%;
            left: 0;
            @include rmaxwd (991){
                display: none;
            }
        }
        .about-image-card{
            margin-left: 85px;
            @include rmaxwd(1399){
                margin-left: 0;
            }
            .main-img{
                img{
                    border-radius: 24px;
                    overflow: hidden;
                }
            }
        }
        // Theme
        .elementor-container{
            .shape{
                top: -83%;
                width: auto !important;
            }
        }
    }
    &.style-3,
    &.style-4{
        .section-title{
            .title{
                @include sm{
                    font-size: 37px;
                }
            }
        }
        .about-image-card{
            .main-img{
                img{
                    border-radius: 16px;
                    overflow: hidden;
                }
            }
        } 
    }
}