 .about-info-card {
    .section-title {
      .title {
        margin-bottom: 0;
        @include lg{
          font-size: 38px;
        }
      }
    }
    .icon-card-wrapper{
      display: flex !important;
      flex-direction: column;
      // gap: 40px;
      margin-top: 8px;
      @include sm{
        gap: 30px;
        padding-right: 0;
        text-align: center;
      }
      .icon-card{
        margin-top: 40px;
      }
      // @media only screen and (min-width: 0px) and (max-width: 500px){
      //   flex-wrap: wrap;
      //   padding: 0 30px;
      //   padding-right: 30px;
      // }
      // @include md{
      //   padding-right: 0;
      // }
      // @include lg{
      //   gap: 12px;
      //   padding-right: 0;
      // }
      // @include xl{
      //   gap: 20px;
      //   padding-right: 30px;
      // }
    }
}