.about-image-card {
  &.style-2 {
    background-size: cover;
    position: relative;
    padding-right: 44px;
    @include rmaxwd(1399){
      padding-right: 0;
    }
    .dot{
      width: 16px;
      height: 16px;
      position: absolute;
      &.square{
        background-color: #FD4342;
        left: 90px;
        top: 90px;
        border-radius: 2px;
        transform: rotate(45deg);
      }
      &.circle{
        background-color: #188EFE;
        border-radius: 50px;
        top: 90px;
        right: 120px;
      }
    }
    .main-img{
      img{
        margin-left: 0;
        @include md{
          height: auto;
        }
      }
    }
    .visitor{
      position: absolute;
      left: -50px;
      bottom: 0;
      animation: MoveLeftRight 2s linear infinite alternate;
      // @keyframes VisitorMove {
      //   0% { transform: translate(-52%, 7%); }
      //   100% { transform: translate(-52%, 14%); }
      // }
      // animation: VisitorMove 2s linear infinite alternate;
    }
    .status{
      position: absolute;
      right: 51px;
      top: -7px;
      transform: translate(50%, 50%);
      @keyframes StatusMove {
        0% { transform: translate(50%, 30%); }
        100% { transform: translate(50%, 50%); }
      }
      animation: StatusMove 3s linear infinite alternate;
      @include rmaxwd(1199){
        display: none;
      }
    }
  }
}